<div class="container">
  <h1>Réservations</h1>

  <!-- Notification -->
  <div *ngIf="isModified" class="notification">Formulaire modifié</div>

  <!-- Bouton pour envoyer un e-mail de réservation -->
  <button class="btn btn-primary" (click)="sendEmail(selectedReservation)" *ngIf="selectedReservation">Envoyer un e-mail </button>



  <!-- Bouton pour ouvrir le formulaire d'ajout de réservation -->
  <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#ajouterReservationModal">Ajouter Réservation</button>

  <!-- Modal pour le formulaire d'ajout de réservation -->
  <div class="modal fade" id="ajouterReservationModal" tabindex="-1" role="dialog" aria-labelledby="ajouterReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ajouterReservationModalLabel">Ajouter Réservation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="reservationForm" (ngSubmit)="addReservation()" class="form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nomreserv">Nom du réservateur</label>
                <input type="text" formControlName="nomreserv" class="form-control" id="nomreserv" placeholder="Entrez le nom du réservateur" required>
                <div *ngIf="reservationForm.get('nomreserv').invalid && (reservationForm.get('nomreserv').dirty || reservationForm.get('nomreserv').touched)" class="text-danger">
                  Le nom du réservateur est requis
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="nbrplace">Nombre de places</label>
                <input type="number" formControlName="nbrplace" class="form-control" id="nbrplace" placeholder="Entrez le nombre de places" required>
                <div *ngIf="reservationForm.get('nbrplace').invalid && (reservationForm.get('nbrplace').dirty || reservationForm.get('nbrplace').touched)" class="text-danger">
                  Le nombre de places est requis
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="type">Type</label>
                <input type="text" formControlName="type" class="form-control" id="type" placeholder="Entrez le type" required>
                <div *ngIf="reservationForm.get('type').invalid && (reservationForm.get('type').dirty || reservationForm.get('type').touched)" class="text-danger">
                  Le type est requis
                </div>
              </div>

              
              <div class="form-group col-md-6">
                <label for="description">Description</label>
                <textarea formControlName="description" class="form-control" id="description" placeholder="Entrez la description" required></textarea>
                <div *ngIf="reservationForm.get('description').invalid && (reservationForm.get('description').dirty || reservationForm.get('description').touched)" class="text-danger">
                  La description est requise
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="datereserv">Date de réservation</label>
              <input type="date" formControlName="datereserv" class="form-control" id="datereserv" required>
              <div *ngIf="reservationForm.get('datereserv').invalid && (reservationForm.get('datereserv').dirty || reservationForm.get('datereserv').touched)" class="text-danger">
                La date de réservation est requise
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Tableau pour afficher les réservations -->
  <table class="table mt-4">
    <thead class="thead-dark">
      <tr>
        <th>Nom du réservateur</th>
        <th>Nombre de places</th>
        <th>Type</th>
        <th>Description</th>
        <th>Date de réservation</th>
        <th>Nom evenement</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.nomreserv }}</td>
        <td>{{ reservation.nbrplace }}</td>
        <td>{{ reservation.type }}</td>
        <td>{{ reservation.description }}</td>
        <td>{{ reservation.datereserv | date }}</td>
        <td>{{ reservation.nomevenement | date }}</td>
        <td>
          <button class="btn btn-info btn-sm mr-1" (click)="selectReservation(reservation)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger btn-sm mr-1" (click)="deleteReservation(reservation.idreserv)">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn btn-primary btn-sm" (click)="updateReservation()">
            <i class="fa fa-refresh"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Section des statistiques -->
  <div class="mt-4">
    <h2>Statistiques</h2>
    <canvas #chartCanvas></canvas>
  </div>
</div>
