<div class="card">
    <div class="card-body">
        <h5 class="card-title">Files</h5>

        <form>  <div class="container d-flex justify-content-center">
                <div class="mt-5 row justify-content-center">
                    <div class="col-10 mb-3">
                      <input matInput [value]="fileName" />
                      <input type="file" id="fileInput" (change)="selectFile($event)" name="fileInput" />
                    </div>
                     <div *ngIf="message" class="message"> {{ message }} </div>
                  
                    <div class="col-2">
                      
                            <button class="btn btn-success btn-sm" [disabled]="!currentFile" (click)="upload()">
                        Upload
                      </button>
                      
                    </div>
                  </div>
                  
                  <div *ngIf="fileUris.length > 0">
                    <div *ngFor="let fileUri of fileUris">
                      <img [src]="fileUri" alt="Uploaded Image" class="img-fluid" />
                    </div>
                  </div>
                  

                  
            </div>
            <div class="example-card">
                <h5 class="card-title">List of Files</h5>
                <div>
                  <div role="list">
                    <mat-list-item role="listitem" *ngFor="let file of fileInfos | async; let i = index">
                      <a href="{{ file.url }}">{{ file.name }}</a>
                      <img *ngIf="file.url" [src]="file.url" height="200" alt="{{ file.name }}">
                      <!-- Add delete button -->
                      <button mat-icon-button>
                        <mat-icon class="close-icon">close</mat-icon>
                        
                      </button>
                    </mat-list-item>
                </div>
            </div>
        </div>
              
        
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
        </div>
        
        

